<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Url or whatever</title>
	</head>
	<body>
		<h2>Insert URL</h2>
		<form method="post" action="/panel">
			<div>
				<label for="url">URL</label>
				<input id="url" name="url" type="text" required />
			</div>
			<div>
				<button type="submit">Submit</button>
			</div>
		</form>
	{% if success_message %}
        <h3>{{ success_message }}</h3>
    {% endif %}
	</body>
</html>
